[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://github.com/faasm/llvm-project.git
[submodule "third-party/wasi-libc"]
	path = third-party/wasi-libc
	url = https://github.com/faasm/wasi-libc
[submodule "third-party/cpython"]
	path = third-party/cpython
	url = https://github.com/faasm/cpython
[submodule "third-party/libffi"]
	path = third-party/libffi
	url = https://github.com/faasm/libffi.git
[submodule "third-party/crossenv"]
	path = third-party/crossenv
	url = https://github.com/faasm/crossenv
